    .page {
        width: 1440px;
        margin: auto;
    }
    body {
      font-family: 'Roboto', sans-serif;
      margin: 0;
      padding: 0;
    }
    header {
      background: #548E69;
      color: #333;
      height: 85px;
      text-align: center;
    }
    .logo {
        margin-left: 314px;
        margin-top: 35px;
    }
    .logo_text {
        position: absolute;
        right: 580px;
        top: 150px;
        font-weight: 600;
        font-size: 22;
        width: 600px;
    }

    nav {
      color: #fff;
      text-align: center;
      padding: 28px;
    }
    nav a {
      color: #fff;
      text-decoration: none;
      font-size: 20px;
      margin-right: 125px
    }
    nav a:last-child {
        margin-right: 0;
    }
    h1 {
        font-size: 30px;
        font-weight: 600;
    }
    h2 {
        font-size: 30px;
        font-weight: 600;
    }
    h3 {
        margin-top: 60px;
        font-size: 30px;
        font-weight: 600;
        margin-left: 188px;
    }
    h4 {
        margin-top: 60px;
        font-size: 30px;
        font-weight: 600;
    }
    h5 {
        margin-top: 60px;
        font-size: 30px;
        font-weight: 600;
    }
    h6 {
    
        margin-top: 60px;
        font-size: 30px;
        font-weight: 600;

    }
    .campus_info {
        width: 700px;
        height: 250px;
        font-size: 20px;
        margin-top: 89px;
        margin-left: 188px;
    }
    .campus_map {
        margin-left: 188px;
    }
    .map_img1 {
        width: 60%;
    }  
    .section {
      padding: 20px;
    }
    .footer {
      background: #333;
      color: #fff;
      text-align: center;
      padding: 10px;
      bottom: 0;
      width: 100%;
    }
    .centered-image {
      display: block;
      margin: auto;
      max-width: 80%;
      cursor: pointer;
    }
    .modal {
      display: none;
      position: fixed; 
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.9);
    }
    .modal-content {
      margin: 10% auto;
      display: block;
      max-width: 80%;
    }
    .fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }
    .fullscreen img {
        max-width: 90%;
        max-height: 90%;
    }
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 200px;
        background-color: #f2f2f2;
        margin-top: 192px;
      }
      
      footer .logo1 img {
        width: 130px;
        height: auto;
        margin-left: 100px;
      }
      
      footer .menu ul {
        list-style-type: none;
        padding: 0;
        margin-left: 250px;
        font-size: 22px;
      }

      li:hover{
        font-weight: bold;
      }

      
      footer .menu ul li {
        display: inline;
        margin-right: 20px;
      }
      
      footer .menu ul li:last-child {
        margin-right: 0;
      }
      
      footer .menu ul li a {
        text-decoration: none;
        color: #333;
      }
      
      footer .copyright {
        position: relative; 
        top: 90px;
        right: 1000px;
        text-align: left;
        font-size: 20px;
      }
      .page2_images {
        margin-top: 100px;
      }

      .page2_info {
        width: 1260px;
      }
      .page2_text {
        font-size: 20px;
        margin-top: 100px;
        margin-left: 188px;
      }

      .page2_img1 {
        position: absolute;
        right: 400px;
      }
      .page2_img2 {
        margin-left: 188px;
      }
      .img11 {
        width: 500px;
        height: 280px;
      }
      .img22 {
        width: 500px;
        height: auto;
      }

      .page3_info {
        width: 500px;
        margin-left: 188px;
      }
      .page3_text {
        font-size: 20px;
      }
      .page3_img1{
        position: absolute;
        top: 389px;
        right: 200px;
      }
      .img33{
        width: 525px;
        height: auto;
      }
      .page3_img2{
        position: absolute;
      }
      .page3_text2 {
        font-size: 20px;
        margin-top: 100px;
      }
      .page3_img2{
        position: absolute;
        top: 800px;
        right: 200px;
      }
      .img44 {
        width: 525px;
        height: 350px;
      }
      .page4_info{
        margin-left: 188px;
      }
      .com_info p{
        margin-top: 35px;
        font-size: 20px;
      }
      .uni_info p{
        margin-top: 35px;
        font-size: 20px;
      }
      .grass-container {
        position: absolute;
        bottom: 883px;
        left: 300px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-top: 50px;
        height: 60px;
      }
        .grass {
        background-color: #7fc97f;
        width: 5px;
        height: 60px;
        margin: 0 10px;
        animation: sway 1s infinite alternate;
        transform-origin: bottom center;
      }
        @keyframes sway {
        to {
            transform: scaleY(0.95) rotateZ(10deg);
        }
      }